<?xml version="1.0"?>
<launch>

  <node pkg="sanchi_amov" type="sanchi_amov" name="imu" output="screen">
    <param name="port" value="/dev/imu_com"/>
    <param name="frame_id" value="/imu_link"/>
    <param name="model" value="200S"/>
    <param name="baud" value="921600"/>
    <param name="looprate" value="200"/>
  </node>

</launch>
